!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    / Use the title from a page's frontmatter if it has one
    %title= current_page.data.title || "Nako interactive"
    = stylesheet_link_tag "site"
    = partial "partials/analyze.html"
    = javascript_include_tag "site"
  %body

    = partial "partials/header.html"

    = yield

    = partial "partials/footer-contact.html"
