---
title : Présentation - Nako interactive
---

= partial "partials/top-content-alternative.html"

.container.py-5
  .row
    .col-lg-6
      .mb-5
        %h1.my-5 Qui sommes-nous ?
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet dolor eu tellus rutrum pellentesque at non nibh.
        %p In vitae nibh sit amet felis elementum ornare euismod eget justo.
        %p Duis turpis lorem, interdum sed volutpat at, commodo ac sem.

    .col-lg-6
      %img.img-fluid{:src => image_path('about-us.png'), :srcset => " #{image_path('about-us@2x.png')} 2x, #{image_path('about-us.png')} 1x"}/


.values-section.bg-values.pt-6.pb-6
  .container.py-5
    .row
      .col-md-6.white
        .mb-5
          %h1.my-5 Nos valeurs ?
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet dolor eu tellus rutrum pellentesque at non nibh.
          %p In vitae nibh sit amet felis elementum ornare euismod eget justo.
          %p Duis turpis lorem, interdum sed volutpat at, commodo ac sem.
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet dolor eu tellus rutrum pellentesque at non nibh.
          %p In vitae nibh sit amet felis elementum ornare euismod eget justo.

      .col-md-6
        .card
          .card-header.card-bg-5
            %p Social Media
          .card-body
            %p.card-text Your account is protected by Multifactor Authentication using a combination of email, SMS and Google Authenticator.

        .card
          .card-header.card-bg-6
            %p Social Media
          .card-body
            %p.card-text Your account is protected by Multifactor Authentication using a combination of email, SMS and Google Authenticator.

.container.py-5
  .row
    .col.text-center
      %h1.my-5 Notre approche
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet dolor eu tellus rutrum pellentesque at non nibh.
      %p In vitae nibh sit amet felis elementum ornare euismod eget justo.
      %p Duis turpis lorem, interdum sed volutpat at, commodo ac sem.
      %img.img-fluid{:src => image_path('design-thinking.png'), :srcset => " #{image_path('design-thinking@2x.png')} 2x, #{image_path('design-thinking.png')} 1x"}/
