---
title : Services - Nako interactive
---

= partial "partials/top-content-alternative.html"

.container.py-5
  .row
    .col-12.col-lg-4
      .mb-5.mr-lg-5.text-left.text-sm-right
        %h1.mt-3.mb-5 Service 1
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet dolor eu tellus rutrum pellentesque at non nibh.
        %p In vitae nibh sit amet felis elementum ornare euismod eget justo.
        %p Duis turpis lorem, interdum sed volutpat at, commodo ac sem.

    .col-12.col-lg-8

      .row

        .col-sm-6
          .mb-5
            %img.img-list{:src => image_path('icon-startup-yellow.png'), :srcset => " #{image_path('icon-startup-yellow@2x.png')} 2x, #{image_path('icon-startup-yellow.png')} 1x"}/
            .service
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet dolor eu
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet dolor eu

          .mb-5
            %img.img-list{:src => image_path('icon-startup-yellow.png'), :srcset => " #{image_path('icon-startup-yellow@2x.png')} 2x, #{image_path('icon-startup-yellow.png')} 1x"}/
            .service
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet dolor eu
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet dolor eu

        .col-sm-6
          .mb-5
            %img.img-list{:src => image_path('icon-startup-yellow.png'), :srcset => " #{image_path('icon-startup-yellow@2x.png')} 2x, #{image_path('icon-startup-yellow.png')} 1x"}/
            .service
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet dolor eu
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet dolor eu

          .mb-5
            %img.img-list{:src => image_path('icon-startup-yellow.png'), :srcset => " #{image_path('icon-startup-yellow@2x.png')} 2x, #{image_path('icon-startup-yellow.png')} 1x"}/
            .service
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet dolor eu
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet dolor eu

.container.py-5
  .row
    .col-12.col-lg-4
      .mb-5.mr-lg-5.text-left.text-sm-right
        %h1.mt-3.mb-5 Service 2
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet dolor eu tellus rutrum pellentesque at non nibh.
        %p In vitae nibh sit amet felis elementum ornare euismod eget justo.
        %p Duis turpis lorem, interdum sed volutpat at, commodo ac sem.

    .col-12.col-lg-8

      .row

        .col-sm-6
          .mb-5
            %img.img-list{:src => image_path('icon-startup-red.png'), :srcset => " #{image_path('icon-startup-red@2x.png')} 2x, #{image_path('icon-startup-red.png')} 1x"}/
            .service
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet dolor eu
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet dolor eu

          .mb-5
            %img.img-list{:src => image_path('icon-startup-red.png'), :srcset => " #{image_path('icon-startup-red@2x.png')} 2x, #{image_path('icon-startup-red.png')} 1x"}/
            .service
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet dolor eu
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet dolor eu

        .col-sm-6
          .mb-5
            %img.img-list{:src => image_path('icon-startup-red.png'), :srcset => " #{image_path('icon-startup-red@2x.png')} 2x, #{image_path('icon-startup-red.png')} 1x"}/
            .service
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet dolor eu
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet dolor eu

          .mb-5
            %img.img-list{:src => image_path('icon-startup-red.png'), :srcset => " #{image_path('icon-startup-red@2x.png')} 2x, #{image_path('icon-startup-red.png')} 1x"}/
            .service
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet dolor eu
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet dolor eu

.bg-gradient-alternative
  .container
    .row
      .col-sm-7.col-md-8
        %p.mt-5.my-sm-0.white.contact-us Vous avez un besoin, une idée ou une question ?

      .col-sm-5.col-md-4

        %a.mb-5.my-sm-5.btn.btn-light.btn-block.btn-lg{:href => "/contact"} Ecrivez-nous

.container.py-5
  .row
    .col-12.col-lg-4
      .mb-5.mr-lg-5.text-left.text-sm-right
        %h1.mt-3.mb-5 Service 3
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet dolor eu tellus rutrum pellentesque at non nibh.
        %p In vitae nibh sit amet felis elementum ornare euismod eget justo.
        %p Duis turpis lorem, interdum sed volutpat at, commodo ac sem.

    .col-12.col-lg-8

      .row

        .col-sm-6
          .mb-5
            %img.img-list{:src => image_path('icon-startup-red.png'), :srcset => " #{image_path('icon-startup-red@2x.png')} 2x, #{image_path('icon-startup-red.png')} 1x"}/
            .service
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet dolor eu
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet dolor eu

          .mb-5
            %img.img-list{:src => image_path('icon-startup-red.png'), :srcset => " #{image_path('icon-startup-red@2x.png')} 2x, #{image_path('icon-startup-red.png')} 1x"}/
            .service
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet dolor eu
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet dolor eu

        .col-sm-6
          .mb-5
            %img.img-list{:src => image_path('icon-startup-red.png'), :srcset => " #{image_path('icon-startup-red@2x.png')} 2x, #{image_path('icon-startup-red.png')} 1x"}/
            .service
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet dolor eu
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet dolor eu

          .mb-5
            %img.img-list{:src => image_path('icon-startup-red.png'), :srcset => " #{image_path('icon-startup-red@2x.png')} 2x, #{image_path('icon-startup-red.png')} 1x"}/
            .service
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet dolor eu
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet dolor eu
